{% extends 'app/base.html' %} {% load static %} {% block cart_content %}
<br /><br /><br /><br /><br />
<link rel="stylesheet" href="{% static 'app/css/cart.css' %}" />
<div class="row" style="width:100%">
  <div class="col-lg-12">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'home' %}"
        >&#x2190; Continue Shopping</a
      >
      <br />
      <br />
      <table class="table">
        <tr>
          <th>
            <h5>Items: <strong id="total-items">{{order.get_cart_items}}</strong></h5>
          </th>
          <th>
            <h5>Total: <strong id="total-price">{{order.get_cart_total}}$</strong></h5>
          </th>
          <th>
            <a
              style="float: right; margin: 5px"
              class="btn btn-success"
              href="{% url 'checkout' %}"
              >Checkout</a
            >
          </th>
        </tr>
      </table>
    </div>
    <br />

    <div class="box-element">
      <div class="cart-row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Item</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %} 
            <tr>
              <th scope="row-scope">
                <img
                  src="{{item.product.ImageURL}}"
                  alt="Product1"
                  style="width: 50px; height: auto"
                />
              </th>
              <td>{{item.product.name}}</td>
              <td class="price">{{item.product.price}}$</td>
              <td>
                <div class="quantity-container">
                  <button data-product = {{item.product.id}} data-action = 'remove'
                    class="btn btn-outline-secondary small-btn update-cart"
                    onclick="decrementQuantity(this)"
                  >
                    -
                  </button>
                  <span class="quantity">{{item.quantity}}</span>
                  <button data-product = {{item.product.id}} data-action = 'add'
                    class="btn btn-outline-secondary small-btn update-cart"
                    onclick="incrementQuantity(this)"
                  >
                    +
                  </button>
                </div>
              </td>
              <td class="item-total">{{item.get_total}}$</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock cart_content %}
