{% extends 'app/base.html' %} {% load static %} {% block banner_slider %}
<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <div class="banner-content">
                <h1
                  class="display-2 text-uppercase pb-5"
                  style="color: hsl(210, 1%, 33%)"
                >
                  Your Products Are Great.
                </h1>
                <a
                  href="shop.html"
                  class="btn btn-medium btn-dark text-uppercase btn-rounded-none"
                  >Shop Product</a
                >
              </div>
            </div>
            <div class="col-md-5">
              <div class="image-holder">
                <img
                  src="{% static 'app/images/banner/banner-image3.png' %}"
                  alt="banner"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex flex-wrap align-items-center">
            <div class="col-md-6">
              <div class="banner-content">
                <h1
                  class="display-2 text-uppercase pb-5"
                  style="color: hsl(210, 34%, 42%)"
                >
                  Technology Hack You Won't Get
                </h1>
                <a
                  href="shop.html"
                  class="btn btn-medium btn-dark text-uppercase btn-rounded-none"
                  >Shop Product</a
                >
              </div>
            </div>
            <div class="col-md-5">
              <div class="image-holder">
                <img
                  src="{% static 'app/images/banner/banner-image2.png' %}"
                  alt="banner"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-icon swiper-arrow swiper-arrow-prev">
    <svg class="chevron-left">
      <use xlink:href="#chevron-left" />
    </svg>
  </div>
  <div class="swiper-icon swiper-arrow swiper-arrow-next">
    <svg class="chevron-right">
      <use xlink:href="#chevron-right" />
    </svg>
  </div>
</section>
<section id="company-services" class="padding-large">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="cart-outline">
              <use xlink:href="#cart-outline" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
            <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="quality">
              <use xlink:href="#quality" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">
              Quality guarantee
            </h3>
            <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="price-tag">
              <use xlink:href="#price-tag" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
            <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <svg class="shield-plus">
              <use xlink:href="#shield-plus" />
            </svg>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">
              100% secure payment
            </h3>
            <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock banner_slider %} 
{% block main-content %}
<div class="container-home">
  <div class="row" style="width=100%">
    <h2 class="product-home">Products</h2>
    {% for product in products %}
    <div class="col-lg-3">
      <div class="product-wrapper">
        <img class="product-image" src="{{product.ImageURL}}" alt="" />
        <div class="box-element product">
          <br />
          <h6><strong>{{product.name}}</strong></h6>
          <hr />
          <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
          <h4 class="price" style="display: inline-block; float: right">
            <strong>{{product.price | floatformat:2}}$</strong>
          </h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>
<div class="empty-home">

  </div>
{% endblock main-content %}
